#form {
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(180, 180, 180, .5);
    flex: 1 0 auto;
    padding: 1rem;
    color: white;
}

#hideMe {
    display: none;
}
.showMe {
    display: inline !important;
    padding-left: 1rem;
}

@media only screen and (max-width:750px) {
    #form {
        width: 80%
    }
}