.navStyle {
    padding: 0px;
    margin: 0px;
    font-size:1rem;
    font-family: 'Merriweather', serif;
}


#navIcons {
    align-content: right;
}
.navIcon {
    color: black;
    font-size: 1.25rem;
}